 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" style="display:none;">
                    <span class="glyphicon glyphicon-ok"></span> Drag table row and cange Order</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Task Name
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @resources.each do |resource| %>
                        <tr>
                            <td>
                                <%= resource.resource.name %>
                            </td>
                            <td>
                                <%= resource.used %>
                            </td>
                        </tr> 
                        <% end %>            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
