<% if @tasks.count>0 %>    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" style="display:none;">
                    <span class="glyphicon glyphicon-ok"></span> Drag table row and cange Order</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Task Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Created at
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @tasks.each do |task| %>
                        <tr>
                            <td>
                                <%= task.name %>
                            </td>
                            <td>
                                <%= task.description %>
                            </td>
                            <td>
                               <%= task.created_at.strftime("%d/%m/%Y") %> 
                            </td>
                        </tr> 
                        <% end %>            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% else %>
    <div id = "search_results">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" style="display:none;">
                        <span class="glyphicon glyphicon-ok"></span> Drag table row and cange Order</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    No Tasks Were Created At Given Period
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% end %>
