<div class="container">
  <div class="row task_form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">Create new user</div>
          <div class="panel-body">       
			<div class="form-inline">
				<%= form_tag(search_admin_tasks_path, :method => "get", :remote=> true) do  %>
				  <%= label_tag 'name', 'Date To:' %>
				  <%= collection_select :status , :task_status_id, TaskStatus.all.order(:name), :id, :name, {prompt: true},:class => "form-control"  %> 
				  <%= submit_tag :submit , {class: "btn btn-primary" } %>
				<% end %>
			</div>
          </div>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->
</div>

<div id ="search_results">
</div>