<%= form_tag(task_resource_report_admin_tasks_path, :method => "get", :remote=> true) do  %>
        <%= label_tag 'TaskName', "TaskName" %>
        <%= collection_select :task , :task_id, Task.all.order(:name), :id, :name, prompt: true %>
  <%= submit_tag :submit %>
<% end %>

<div id ="task_resoruce_report_search_results">
</div>

