
<%= form_tag(user_report_admin_tasks_path, method: 'get', remote: true) do %>
    <%= label_tag 'user_name', 'User' %>
    <%= collection_select :user, :user_id , User.all.order(:first_name), :id, :first_name, prompt: true %>
    <%= submit_tag :submit %>
<% end %>

<div id ="user_search_results">

</div>



