<div class="container">
  <div class="row task_form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">Create new resource</div>
          <div class="panel-body">
            <%= form_for :resource, url:admin_resources_path do |f| %>
              <fieldset>
                <div class="form-group"> 
                  <%= f.text_field :name, class: "form-control", placeholder: "Name" , :required => true  %>
                </div> 


                <div class="form-group"> 
                  <div class="input-group number-spinner">
                    <span class="input-group-btn data-dwn">
                      <button type="button"class="btn btn-primary" data-dir="dwn" id="down"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                    <%= f.text_field :quantity, class: "form-control", min: "1", max: "200", placeholder: "Number" , :required => false %>
                    <span class="input-group-btn data-up">
                      <button type="button" class="btn btn-primary" data-dir="up" id="up"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                  </div>
                </div> 

                <%= f.submit :submit, {class: "btn btn-primary" } %>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->
</div>


